<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BBEditDocumentType</key>
  <string>CodelessLanguageModule</string>
  <key>BBLMLanguageDisplayName</key>
  <string>Muldis D dialect PTMD_Tiny</string>
  <key>BBLMLanguageCode</key>
  <string>PTMD</string>
  <key>BBLMSuffixMap</key>
  <array>
    <dict>
      <key>BBLMLanguageSuffix</key>
      <string>.md</string>
    </dict>
  </array>
  <key>BBLMColorsSyntax</key>
  <true/>
  <key>BBLMScansFunctions</key>
  <true/>
  <key>BBLMIsCaseSensitive</key>
  <true/>
  <key>BBLMKeywordList</key>
  <array>
    <string>Muldis_D</string>
    <string>Bool</string>
    <string>false</string>
    <string>true</string>
    <string>Int</string>
    <string>String</string>
    <string>Blob</string>
    <string>Text</string>
    <string>Rat</string>
    <string>Instant</string>
    <string>Duration</string>
    <string>Name</string>
    <string>NameChain</string>
    <string>DeclNameChain</string>
    <string>Comment</string>
    <string>Order</string>
    <string>increase</string>
    <string>same</string>
    <string>decrease</string>
    <string>RatRoundMeth</string>
    <string>half_down</string>
    <string>half_up</string>
    <string>half_even</string>
    <string>to_floor</string>
    <string>to_ceiling</string>
    <string>to_zero</string>
    <string>to_inf</string>
    <string>QScalar</string>
    <string>Scalar</string>
    <string>QTuple</string>
    <string>Tuple</string>
    <string>QRelation</string>
    <string>Relation</string>
    <string>QSet</string>
    <string>Set</string>
    <string>Nothing</string>
    <string>QSingle</string>
    <string>Single</string>
    <string>QArray</string>
    <string>Array</string>
    <string>QBag</string>
    <string>Bag</string>
    <string>UTCInstant</string>
    <string>FloatInstant</string>
    <string>UTCDuration</string>
    <string>boot_stmt</string>
  </array>
  <key>Language Features</key>
  <dict>
    <key>Identifier and Keyword Character Class</key>
    <string><![CDATA[a-zA-Z0-9_-]]></string>

    <key>Comment Pattern</key>
    <string><![CDATA[(?x:
      Comment \s* : \s* ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
    )]]></string>

    <key>String Pattern</key>
    <string><![CDATA[(?x:
      (
        ( | Decl) NameChain \s* : \s*
        (
            [a-zA-Z_][a-zA-Z0-9_-]*
          | ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
        )
        ( \. (
            [a-zA-Z_][a-zA-Z0-9_-]*
          | ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
        ))*
      | DeclNameChain \s* : \s* \[ \s* \]
      | Name \s* : \s*
        (
            [a-zA-Z_][a-zA-Z0-9_-]*
          | ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
        )
      | Text \s* : \s* ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
      | \s ' [^']* ' ( \s* ~ \s* ' [^']* ' )*
      | (Blob \s* : \s* | \s)
        [137F] \s* ; \s* ' [0-9A-F]* ' ( \s* ~ \s* ' [0-9A-F]* ' )*
      | String \s* : \s* ( [1-9A-Z] \s* ; \s* )* \s* \[ \s* (
            -?[0-9A-Z_]+
          | -?[0-9A-Z_]+ ( \s* , \s* -?[0-9A-Z_]+ )*
        ) \s* \] \s*
      | (Rat | Instant | Duration) \s* : \s*
        ( [1-9A-Z] \s* ; \s* )*
        -?[0-9A-Z_]+
        (
            \.[0-9A-Z_]+
          | \s* \/ \s* [1-9A-Z][0-9A-Z_]*
          | \s* \* \s* [1-9A-Z][0-9A-Z_]* \s* \^ \s* -?[0-9A-Z_]+
        )
      | [1-9A-Z] \s* ; \s*
        -?[0-9A-Z_]+
        (
            \.[0-9A-Z_]+
          | \s* \/ \s* [1-9A-Z][0-9A-Z_]*
          | \s* \* \s* [1-9A-Z][0-9A-Z_]* \s* \^ \s* -?[0-9A-Z_]+
        )
      | -?[0-9](_?[0-9]+)*
        (
            \.[0-9](_?[0-9]+)*
          | \s* \/ \s* [1-9](_?[0-9]+)*
          | \s* \* \s* [1-9](_?[0-9]+)* \s* \^ \s* -?[0-9](_?[0-9]+)*
        )
      | Int \s* : \s* ( [1-9A-Z] \s* ; \s* )* -?[0-9A-Z_]+
      | [1-9A-Z] \s* ; \s* -?[0-9A-Z_]+
      | -?[1-9](_?[0-9]+)*
      | ((UTC | Float) Instant | UTCDuration)
        \s* : \s* ( [1-9A-Z] \s* ; \s* )*
        \s* \[ \s*
        ( -?[0-9A-Z_]+ )*
        ( \s* , \s* ( -?[0-9A-Z_]+ )* ){4}
        \s* , \s* ( -?[0-9A-Z_]+
        (
            \.[0-9A-Z_]+
          | \s* \/ \s* [1-9A-Z][0-9A-Z_]*
          | \s* \* \s* [1-9A-Z][0-9A-Z_]* \s* \^ \s* -?[0-9A-Z_]+
        ) )*
        \s* \] \s*
      )
    )]]></string>

    <key>Function Pattern</key>
    <string><![CDATA[(?x:
      (name|'name') \s* => \s* Name: (?P<function_name> [^\r]* )
    )]]></string>
  </dict>
</dict>
</plist>
